.glightbox-dark .gslide-description {
    background: #242629;
}

.glightbox-dark .gdesc-inner {
    padding: 22px 20px;
}

/*.glightbox-dark .gslide-title {*/
/*    font-size: 1em;*/
/*    font-weight: normal;*/
/*    color: #000;*/
/*    margin-bottom: 19px;*/
/*    line-height: 1.4em;*/
/*}*/

.glightbox-dark .gslide-desc {
    /*font-size: 0.86em;*/
    margin-bottom: 0;
    /*line-height: 1.4em;*/
}

.glightbox-dark .gslide-video {
    background: #242629;
}

.glightbox-dark .gprev,
.glightbox-dark .gnext,
.glightbox-dark .gclose {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

.glightbox-dark .gprev path,
.glightbox-dark .gnext path,
.glightbox-dark .gclose path {
    fill: #fff;
}

.glightbox-dark .gprev {
    position: absolute;
    top: -100%;
    left: 30px;
    width: 40px;
    height: 50px;
    display: none;
}

.glightbox-dark .gnext {
    position: absolute;
    top: -100%;
    right: 30px;
    width: 40px;
    height: 50px;
    display: none;
}

.glightbox-dark .gclose {
    width: 35px;
    height: 35px;
    top: 15px;
    right: 10px;
    position: absolute;
}

.glightbox-dark .gclose svg {
    width: 18px;
    height: auto;
}

.glightbox-dark .gclose:hover {
    opacity: 1;
}

.glightbox-dark button, .glightbox-dark .button:hover{
    box-shadow: none;
}

.glightbox-dark .button:hover:active {
    background-color: transparent;
}

:root {
    --plyr-color-main: #242629;
}